/*/bin
/*/build
/*/local
/*/lib
/*/test
/*/dict
/*/etc
/amd64/manager
/arm/manager
/build
/data/model
/src/manager/documents/.expansive-lastgen
/src/manager/documents/cache/
/src/manager/documents/deploy/
/src/manager/documents/dist/
/src/manager/documents/db/
/src/manager/etc/*.key
/src/manager/etc/*.crt
/src/manager/etc/*.srl
