/*/bin
/*/build
/*/local
/*/lib
/*/test
/*/dict
/*/etc
/build
/data/model
/src/manager/documents/.expansive-lastgen
/src/manager/documents/cache/
/src/manager/documents/deploy/
/src/manager/documents/dist/
/src/manager/documents/db/
